﻿  .theme-search-area-section {
            margin-bottom: 20px !important;
        }

        .theme-search-area-section-line .theme-search-area-section-icon {
            text-align: left;
            width: 30.555555555555554px;
            margin-top: 7px;
            font-size: 15px;
        }

        .three h1 {
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 1.5em;
            padding-bottom: 6px;
            position: relative;
            margin-bottom: 25px;
        }

            .three h1:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 5px;
                width: 55px;
                background-color: #7ace0b;
            }

            .three h1:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 2px;
                height: 1px;
                width: 95%;
                max-width: 255px;
                background-color: #7ace0b;
            }


        .box {
            box-shadow: 0 0 5px 1px rgb(0 0 0 / 40%);
            padding: 20px 30px;
            border-radius: 4px;
            background: #fff;
        }
    
        body {
            margin-top: 40px;
        }

        .stepwizard-step p {
            margin-top: 10px;
        }

        .stepwizard-row {
            display: table-row;
        }

        .stepwizard {
            display: table;
            width: 100%;
            position: relative;
        }

        .stepwizard-step button[disabled] {
            opacity: 1 !important;
            filter: alpha(opacity=100) !important;
        }

        /*.stepwizard-step:after {
            top: 14px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #ccc;
            z-order: 0;
        }*/


        .step1:before {
                top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 406px;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    left: 56%;
        }

        .step2:before {
        top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 387px;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    left: 54%;
        }


        .stepwizard-step {
            display: table-cell;
            text-align: center;
            position: relative;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

        .container-fluid {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .justify-content-center {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        #heading {
            text-transform: uppercase;
            color: #dfdfdf;
            font-weight: normal;
        }

        p {
            color: #fff;
        }

        .navbar-brand > img {
            width: 135px;
            margin-top: 0px;
        }
    
        @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

        body {
            font-family: "Lato", sans-serif;
            background: #4583c4;
        }




        .file-upload-wrapper {
            position: relative;
            width: 100%;
            height: 60px;
        }

            .file-upload-wrapper:after {
                content: attr(data-text);
                font-size: 12px;
                position: absolute;
                top: 0;
                left: 0;
                background: #ebebeb;
                padding: 10px 10px;
                display: block;
                width: calc(100% - 40px);
                pointer-events: none;
                z-index: 20;
                height: 40px;
                line-height: 20px;
                color: #999;
                border-radius: 5px 10px 10px 5px;
                font-weight: 300;
                border: 1px solid #eee;
                text-align: left;
            }

            .file-upload-wrapper:before {
                content: "Upload";
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                height: 40px;
                background: #878787;
                color: #fff;
                font-weight: 700;
                z-index: 25;
                font-size: 12px;
                line-height: 42px;
                padding: 0 15px;
                text-transform: uppercase;
                pointer-events: none;
                border-radius: 0 5px 5px 0;
            }

            .file-upload-wrapper:hover:before {
                background: #3d8c63;
            }

            .file-upload-wrapper input {
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99;
                height: 40px;
                margin: 0;
                padding: 0;
                display: block;
                cursor: pointer;
                width: 100%;
            }

.dohavegst>input {
        transform: scale(1.5);
  
    /* -webkit-transform: scale(2); */
    padding: 10px;
    cursor: pointer;
}