﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageForDash.master" AutoEventWireup="true" CodeFile="Bankdetails.aspx.cs" Inherits="SprReports_Accounts_Bankdetails" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
    <br />
    <br />
    <section>

        
        
		<div class="container">
         
			<div class="row">
				<div class="col-md-5 col-sm-5">
                   
					<div class="tourb2-ab-p4-1 tourb2-ab-p4-com hover"> <i><img src="../../Images/Bank/ICICI-Bank-PNG-Icon-715x715.png" style="width:50px;"/></i>
						<div class="tourb2-ab-p4-text">
							<h4  style=" margin-top: 0px;margin-bottom: 0px;">ICICI BANK LTD</h4>
						
                    <p style="font-size: 12px;"></p>
                            <p style="font-size: 12px;">BENEFICIARY NAME :	Amlin PRIVATE LIMITED<br />BANK NAME        :	ICICI<br />ACCOUNT NO       :	000605035504<br />IFSC code        :	ICIC0000006</p>
        
                          
						</div>
					</div>
                      
				</div>

             

			</div>

            <hr />

          <%--  <p style="font-size:15px; font-weight:600;">Note :</p>
            <p>1. No transactionin ICICI Bank from 1st November 2020.</p>
            <p>2. No request in ICICI Bank, will be accepted after 31st October 2020.</p>
            <p>3. Cash deposite charges remains Rs. 25/- as applicable earlier.</p>
            <p>4. All account name are same.</p>--%>
		</div>

      
     <br />
     <br />
     <br />
        

	</section>



    

</asp:Content>

